<%- include("header") -%>


<div class="box col-4 mt-5" id="heading">
  <h1 style="text-transform: capitalize"><%= jsListName %> List<br> <%= jsDay %>, <%= jsDate %> </h1>
</div>

<div class="box d-flex flex-column col-4">

  <%list.forEach( task => { %>
  <div class="item overflow-hidden mx-3">
    <form class="m-0" method="post" action="/delete">
      <input type="checkbox" name="checkbox" value="<%=task.id%>" onChange="this.form.submit()">
      <input type="hidden" name="id" value="<%=jsListname%>">
    </form>
    <p class="m-0 flex-grow-1"><%= task.name %></p>
  </div>
  <% }) %>

  <form class="item" method="post" action="/">
    <input class="flex-grow-1"type="text" name="task" placeholder="Add a task" autocomplete="off">
    <button class="rounded-pill mx-3" name="list" value="<%= jsListName %>" type="submit">+</button>
  </form>
</div>

<%- include("footer") -%>
